{% extends 'base.html' %}

{% block content %}
  <h1>Email List</h1>
  <table>
    <thead>
      <tr>
        <th>From</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
    </thead>
     {% csrf_token %}
    <button type="submit">Фильтр</button>
    <tbody>
      {% for email in emails %}
        <tr>
          <td>{{ email.sender }}</td>
          <td>{{ email.subject}}</td>
          <td>{{ email.date_sent}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}